@page
@model TucDemo.Pages.SuppliersModel






@if (Model.Day == DayOfWeek.Wednesday)
{
    <h1>Idag ör det rabatt på .-...</h1>
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Supplier name</th>
        <th scope="col">Country</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model.SuppliersToShow)
        {
        <tr>
            <td>@supplier.CompanyName.</td>
            <td>@supplier.Country</td>
            <td>@supplier.City</td>
        </tr>

        }
        </tbody>
</table>